<link rel="stylesheet" href="/css/chat.css" />

<div class="chat-window min" id="chat-window">
  <div class="chat-header">
    CHATCORD
    <div class="chat-header-icons">
      <svg class="chat-header-icon btn-minimize hide">
        <use xlink:href="image/sprite.svg#icon-chevron-with-circle-down"></use>
      </svg>
      <svg class="chat-header-icon btn-maximize">
        <use xlink:href="image/sprite.svg#icon-chevron-with-circle-up"></use>
      </svg>
    </div>
  </div>
  <div class="chat-room">
    <%for(message of messages){%> <% if(locals.user.username == message.user) {
    %>
    <div class="sender message">
      <div class="message-name"><%=message.user%></div>
      <div class="message-body">
        <span class="chat-message"><%=message.message%></span
        ><span class="chat-time"> <%=message.time%> </span>
      </div>
    </div>
    <%}else{%>
    <div class="receiver message">
      <div class="message-name"><%=message.user%></div>
      <div class="message-body">
        <span class="chat-message"><%=message.message%></span
        ><span class="chat-time"> <%=message.time%> </span>
      </div>
    </div>
    <%}%> <%}%>
    <!-- <div class="sender message">
      <div class="message-name">anu</div>
      <div class="message-body">
        <span class="chat-message">hi</span
        ><span class="chat-time"> 2:46 </span>
      </div>
    </div>
    <div class="sender message">
      <div class="message-name">anu</div>
      <div class="message-body">
        <span class="chat-message">how are you ?</span>
        <span class="chat-time"> 2:46 </span>
      </div>
    </div>

    <div class="receiver message">
      <div class="message-name">riya</div>
      <div class="message-body">
        <span class="chat-message">hey</span
        ><span class="chat-time"> 2:47 </span>
      </div>
    </div>
    <div class="receiver message">
      <div class="message-name">riya</div>
      <div class="message-body">
        <span class="chat-message">i am good thanks for asking again :)</span>
        <span class="chat-time"> 2:47 </span>
      </div>
    </div> -->
  </div>
  <form action="" class="chat-form">
    <input
      type="text"
      id="chat_input"
      class="mytextarea"
      placeholder="type here"
      required
    />
    <button type="submit">send</button>
  </form>
</div>

<script type="text/javascript">
  const btnminmax = document.querySelectorAll(
    ".btn-minimize:not(.btn-maximize),.btn-maximize:not(.btn-minimize"
  );
  for (let i = 0; i < btnminmax.length; i++) {
    btnminmax[i].addEventListener("click", function () {
      if (document.querySelector(".chat-window"))
        document.querySelector(".chat-window").classList.toggle("min");
      else document.querySelector(".chat-box").classList.toggle("min");
      document.querySelector(".btn-minimize").classList.toggle("hide");
      document.querySelector(".btn-maximize").classList.toggle("hide");
    });
  }
</script>
