<div class="post-comment">
  <a href="#">
    <img class="post-comment-user" src="<%=comment.user.avatar%>" />
  </a>

  <p class="post-comment-body">
    <a href="/users/profile/<%=post.user.id%>" class="post-comment-username"
      ><%=comment.user.username%></a
    >
    <span class="post-comment-content"><%=comment.content%></span>
  </p>
  <%if(locals.user && locals.user.id==comment.user.id){%>
  <a class="post-comment-like" href="#">
    <svg>
      <use xlink:href="/image/sprite.svg#icon-heart-outlined"></use>
    </svg>
  </a>
  <a
    class="post-comment-delete delete-comment-button"
    href="/comments/destroy/<%=comment.id%>"
  >
    <svg>
      <use xlink:href="/image/sprite.svg#icon-circle-with-cross"></use>
    </svg>
  </a>
  <%}%>
</div>
