<header class="header">
  <div class="header-content">
    <div class="header-logo">
      <a href="/">
        <svg class="header-logo-icon">
          <use xlink:href="/image/sprite.svg#icon-instagram"></use>
        </svg>
      </a>
      <span>Instagram</span>
    </div>
    <%if(locals.user){%>
    <form class="header-search">
      <input
        type="text"
        id="search-input"
        onkeyup="myFunction()"
        placeholder="search here . . "
      />
      <button>
        <svg class="header-search-icon">
          <use xlink:href="/image/sprite.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <%- include('search')%>

    <ul class="header-actions">
      <li><a class="header-post" href="/users/newpost">post</a></li>
      <li class="header-notification">
        <input
          id="notification-view"
          type="checkbox"
          class="header-notification-checkbox"
        />
        <label for="notification-view" class="header-notification-view">
          <svg class="header-icon header-icon-close">
            <use xlink:href="/image/sprite.svg#icon-heart"></use>
          </svg>
          <svg class="header-icon header-icon-open">
            <use xlink:href="/image/sprite.svg#icon-heart-outlined"></use>
          </svg>
        </label>
        <ul class="header-notification-list">
          <%if(notifications.length==0){%>
          <li class="notification-item">no notifications yet</li>
          <%}%> <%for(not of notifications){%>
          <li class="notification-item">
            <a href="/users/profile/<%=not.sender._id%>"
              ><img
                class="notification-avatar"
                src="<%=not.sender.avatar%>"
                alt="sender profile-pic"
            /></a>

            <div class="notification-content">
              <a
                class="notification-username"
                href="/users/profile/<%=not.sender._id%>"
                ><%=not.sender.name%></a
              >
              <span class="notification-text"><%=not.notificationMsg%></span>
            </div>
            <%if(not.notificationType=='like'||not.notificationType=='comment'){%>
            <div class="notification-info">
              <img
                class="notification-image"
                src="<%=not.notificationInfo%>"
                alt="post-image"
              />
            </div>
            <%}else if(not.notificationType=='followRequest'){%>
            <div class="notification-info">
              <a
                href="/users/follow/?from=<%=not.sender._id%>"
                class="
                  notification-btn notification-confirm
                  toggle-follow-button
                "
                ><%if(followers.includes(not.sender)){%>follow<%}else{%>confirm<%}%></a
              >
              <a
                href="/notifications/destroy/<%=not.id%>"
                class="notification-btn notification-delete"
                >delete</a
              >
            </div>
            <%}%>
          </li>
          <%}%>
        </ul>
      </li>
      <li class="header-menu">
        <input id="menu-view" type="checkbox" />
        <label for="menu-view" class="header-menu-view">
          <svg class="header-icon header-icon-close">
            <use
              xlink:href="/image/sprite.svg#icon-chevron-with-circle-up"
            ></use>
          </svg>
          <svg class="header-icon header-icon-open">
            <use
              xlink:href="/image/sprite.svg#icon-chevron-with-circle-down"
            ></use>
          </svg>
        </label>

        <ul class="header-menu-list">
          <li>
            <a href="/users/profile/<%=user.id%>">profile</a>
          </li>
          <li><a href="/users/destroy">deactivate</a></li>
          <li><a href="/users/sign-out">logout</a></li>
        </ul>
      </li>
    </ul>

    <%}else{%>

    <ul class="header-actions">
      <li><a href="/users/sign-in">sign in</a></li>
      <li><a href="/users/sign-up">sign up</a></li>
    </ul>

    <%}%>
  </div>
</header>
