<link rel="stylesheet" href="/css/home.css" />
<div class="home-container">
  <div class="post-feed">
    <%if(posts.length==0){%>
    <div class="empty-posts">no post till now</div>
    <%}else{%> <% for(post of posts){%> <%- include('post')%> <%}%> <%}%>
  </div>
  <%if(locals.user){%>
  <div class="sidebar">
    <div class="sidebar-content">
      <div class="sidebar-header">
        <a href="/users/profile/<%=locals.user.id%>">
          <img
            src="<%=locals.user.avatar%>"
            alt=""
            class="sidebar-user-image"
          />
        </a>
        <div class="sidebar-user-details">
          <a href="/users/profile/<%=locals.user.id%>" class="sidebar-username"
            ><%=locals.user.username%></a
          >
          <p class="sidebar-name" id="<%=locals.user.id%>">
            <%=locals.user.name%>
          </p>
        </div>
      </div>
      <div class="suggested-users">
        <h3>suggestions for you</h3>
        <div class="suggested-cards">
          <%if(suggested.length==0){%>
          <h2>No users to suggest .</h2>
          <%}%> <%for(auser of suggested){%>
          <%if(auser.accountType=='private'){%>
          <div class="user-card" id="user-card-<%=auser.id%>">
            <a href="/users/profile/<%=auser.id%>">
              <img src="<%=auser.avatar%>" alt="" class="user-card-image" />
            </a>
            <div class="user-card-details">
              <a href="/users/profile/<%=auser.id%>" class="user-card-username"
                ><%=auser.username%></a
              >
              <p class="user-card-name"><%=auser.name%></p>
            </div>

            <a
              href="/notifications/requestFollow/<%=auser.id%>"
              class="user-card-follow toggle-request-button"
            >
              <%if(requests.includes(auser.id)){%>cancel
              request<%}else{%>follow<%}%></a
            >
          </div>
          <%}%><%}%>
        </div>
      </div>
    </div>
  </div>
  <%- include('chat')%> <%}%>
</div>
