<link rel="stylesheet" href="/css/home.css" />
<div class="home-container">
  <div class="post-feed">
    <% for(post of posts){%> <%- include('post')%> <%}%>
  </div>
  <%if(locals.user){%>
  <div class="sidebar">
    <div class="sidebar-content">
      <div class="sidebar-header">
        <a href="#">
          <img
            src="<%=locals.user.avatar%>"
            alt=""
            class="sidebar-user-image"
          />
        </a>
        <div class="sidebar-user-details">
          <a href="/users/profile/<%=locals.user.id%>" class="sidebar-username"
            ><%=locals.user.username%></a
          >
          <p class="sidebar-name" id="<%=locals.user.id%>">
            <%=locals.user.name%>
          </p>
        </div>
      </div>
      <div class="suggested-users">
        <h3>suggestions for you</h3>
        <div class="suggested-cards">
          <%for(user of all_users){%> <%- include('suggested-user')%> <%}%>
        </div>
      </div>
    </div>
  </div>
  <%}%>
</div>
