<link rel="stylesheet" href="/css/home.css" />
<div class="home-container">
  <div class="post-feed">
    <% for(post of posts){%> <%- include('post')%> <%}%>
  </div>
  <%if(locals.user){%>
  <div class="sidebar">
    <div class="sidebar-content">
      <div class="sidebar-header">
        <a href="#">
          <img
            src="<%=locals.user.avatar%>"
            alt=""
            class="sidebar-user-image"
          />
        </a>
        <div class="sidebar-user-details">
          <a href="/users/profile/<%=locals.user.id%>" class="sidebar-username"
            ><%=locals.user.username%></a
          >
          <p class="sidebar-name" id="<%=locals.user.id%>">
            <%=locals.user.name%>
          </p>
        </div>
      </div>
      <div class="suggested-users">
        <h3>suggestions for you</h3>
        <div class="suggested-cards">
          <%for(user of all_users){%>
          <div class="user-card" id="<%=user.id%>">
            <a href="/users/profile/<%=user.id%>">
              <img src="<%=user.avatar%>" alt="" class="user-card-image" />
            </a>
            <div class="user-card-details">
              <a href="/users/profile/<%=user.id%>" class="user-card-username"
                ><%=user.username%></a
              >
              <p class="user-card-name"><%=user.name%></p>
            </div>
            <a
              data-followers="<%=user.followers.length%>"
              href="/users/follow/<%=user.id%>"
              class="user-card-follow toggle-follow-button"
            >
              <%if(user.followers.includes(locals.user.id)){%>unfollow<%}else{%>follow<%}%></a
            >
          </div>

          <%}%>
        </div>
      </div>
    </div>
  </div>
  <%}%>
</div>
