<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%=title%></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/js/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="/js/slick/slick-theme.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.css"
      integrity="sha512-vEia6TQGr3FqC6h55/NdU3QSM5XR6HSl5fW71QTKrgeER98LIMGwymBVM867C1XHIkYD9nMTfWK2A0xcodKHNA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/layout.css" />

    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/search.css" />

    <link rel="stylesheet" href="/css/footer.css" />
  </head>
  <body>
    <%- include('header')%> <%- body%> <%- include('footer')%>

    <script>
      <% if(flash.success && flash.success.length>0){ %>

        new Noty({
            theme:'relax',
            text: '<%=flash.success%>',
            type:'success',
            layout:'topRight',
            timeout:2500
        }).show();
      <% } %>
      <% if(flash.error && flash.error.length>0){ %>
        new Noty({
            theme:'relax',
            text: '<%=flash.error%>',
            type:'error',
            layout:'topRight',
            timeout:1500
        }).show();
      <% } %>
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.js"
      integrity="sha512-hkvXFLlESjeYENO4CNi69z3A1puvONQV5Uh+G4TUDayZxSLyic5Kba9hhuiNLbHqdnKNMk2PxXKm0v7KDnWkYA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script type="text/javascript">
      $(".mytextarea").emojioneArea({
        pickerPosition: "top",
      });
    </script>
    <script>
      function myFunction() {
        var input, filter, ul, li, a, i, txtValue, container;
        var match = false;
        input = document.getElementById("search-input");
        filter = input.value.toUpperCase();
        ul = document.querySelector(".search-list");
        container = document.querySelector(".search_container");
        li = ul.getElementsByTagName("li");
        if (input == document.activeElement) container.classList.remove("hide");
        if (filter.length == 0) container.classList.add("hide");
        for (i = 0; i < li.length; i++) {
          a = li[i].querySelector(".user-card-username");
          txtValue = a.textContent || a.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            match = true;
            li[i].style.display = "";
          } else {
            li[i].style.display = "none";
          }
        }
        if (match === false) {
          document.querySelector(".no-result").style.display = "block";
        } else {
          document.querySelector(".no-result").style.display = "none";
        }
      }
    </script>
    <script src="/js/toggle-likes.js"></script>
    <script src="/js/home_post-comments.js"></script>
    <script src="/js/home_posts.js"></script>

    <script src="/js/toggle-follow.js"></script>
    <script src="/js/toggle-request.js"></script>
    <script src="/js/delete-request.js"></script>

    <script>
      $(" .toggle-follow-button").each(function () {
        let self = this;
        let toggleFollow = new ToggleFollow(self);
      });
      $(" .toggle-request-button").each(function () {
        let self = this;
        let toggleRequest = new ToggleRequest(self);
      });
      $(" .notification-delete").each(function () {
        let self = this;
        let deleteRequest = new DeleteRequest(self);
      });
    </script>
    <script src="/js/new-post.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.1/qs.min.js"
      integrity="sha512-aTKlYRb1QfU1jlF3k+aS4AqTpnTXci4R79mkdie/bp6Xm51O5O3ESAYhvg6zoicj/PD6VYY0XrYwsWLcvGiKZQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script src="/js/chat_engine.js"></script>
    <script>
        <% if(locals.user){%> new ChatEngine("chat-window",'<%=locals.user.username%>')
      <%}%>
    </script>
    <script type="text/javascript" src="/js/slick/slick.min.js"></script>

    <script type="text/javascript">
      $(document).ready(function () {
        $(".single-item").slick();
      });
    </script>
  </body>
</html>
