<link rel="stylesheet" href="/css/user-profile.css" />
<section class="profile-container">
  <div class="profile-header">
    <div class="profile-image">
      <img src="<%=profile_user.avatar%>" alt="" class="profile-header-img" />
      <%if(locals.user.id==profile_user.id &&
      profile_user.avatar.indexOf('default')==-1){%>
      <a href="/users/remove-profile-image" class="profile-image-delete">
        <svg>
          <use xlink:href="/image/sprite.svg#icon-bin"></use>
        </svg>
      </a>
      <%}%>
    </div>

    <div class="profile-header-info">
      <div class="profile-buttons">
        <div class="profile-username"><%=profile_user.username%></div>
        <%if(locals.user.id==profile_user.id){%>
        <a
          href="/users/update-settings/<%=profile_user.id%>"
          class="profile-btn"
          >update</a
        >
        <%}else{%> <%if(followers.includes(locals.user.id)){%>
        <a
          data-followers="<%=followers.length%>"
          href="/users/follow/?to=<%=profile_user.id%>"
          class="profile-btn toggle-follow-button"
          >unfollow</a
        >
        <%}else{%> <%if(profile_user.accountType=='public'){%>
        <a
          data-followers="<%=followers.length%>"
          href="/users/follow/?to=<%=profile_user.id%>"
          class="profile-btn toggle-follow-button"
          ><%if(followers.includes(locals.user.id)){%>unfollow<%}else{%>follow<%}%></a
        >
        <%}else{%>
        <a
          href="/notifications/requestFollow/<%=profile_user.id%>"
          class="profile-btn toggle-request-button"
          ><%if(requests.includes(profile_user.id)){%>cancel
          request<%}else{%>follow<%}%></a
        >
        <%}%> <%}%> <%}%>
      </div>
      <div class="profile-stats">
        <p class="stat-posts">
          <span class="profile-stats-unit posts-unit"><%=posts.length%></span>
          post
        </p>
        <p class="stat-followers">
          <span class="profile-stats-unit followers-unit"
            ><%=followers.length%></span
          >
          followers
        </p>
        <p class="stat-following">
          <span class="profile-stats-unit following-unit"
            ><%=following.length%></span
          >
          following
        </p>
      </div>
      <div class="profile-about">
        <div class="profile-name"><%=profile_user.name%></div>
        <div class="profile-bio"><%=profile_user.bio%></div>
      </div>
    </div>
  </div>
  <div class="profile-categories">
    <div class="profile-category">
      <div class="profile-category-icon">
        <svg>
          <use xlink:href="/image/sprite.svg#icon-menu"></use>
        </svg>
      </div>
      <div class="profile-category-name">posts</div>
    </div>
  </div>
  <%if(followers.includes(locals.user._id)||locals.user.id==profile_user.id||profile_user.accountType=='public'){%>
  <div class="profile-images">
    <%if(posts.length==0){%>
    <div class="empty-posts">no posts till now</div>
    <%}else{%> <%for (post of posts){%>
    <a class="profile-image-block" href="/posts/view/<%=post.id%>">
      <figure class="preview">
        <%if(post.images.length>1){%>
        <div class="preview-multiple">+<%=post.images.length-1%></div>
        <%}%>
        <img class="preview-image" src="<%=post.images[0].imgUrl%>" />
        <div class="preview-overlay">
          <div class="preview-overlay-content">
            <div class="preview-overlay-item">
              <svg class="preview-overlay-icon">
                <use xlink:href="/image/sprite.svg#icon-heart1"></use>
              </svg>
              <span class="preview-overlay-unit preview-overlay-likes"
                ><%=post.likes.length%></span
              >
            </div>
            <div class="preview-overlay-item">
              <svg class="preview-overlay-icon">
                <use xlink:href="/image/sprite.svg#icon-bubbles"></use>
              </svg>
              <span class="preview-overlay-unit preview-overlay-comments"
                ><%=post.comments.length%></span
              >
            </div>
          </div>
        </div>
      </figure>
    </a>

    <%}%> <%}%>
  </div>
  <%}else{%>
  <div class="empty-posts">
    This is a private account. You need to follow to view the posts .
  </div>
  <%}%>
</section>
