<link rel="stylesheet" href="/css/user-profile.css" />
<div class="post-popup hide"></div>
<section class="profile-container">
  <div class="profile-header">
    <img src="<%=profile_user.avatar%>" alt="" class="profile-header-img" />
    <div class="profile-header-info">
      <div class="profile-buttons">
        <div class="profile-username"><%=profile_user.username%></div>
        <%if(locals.user.id==profile_user.id){%>
        <a
          href="/users/update-settings/<%=profile_user.id%>"
          class="profile-btn"
          >update</a
        >
        <%}else{%>
        <a
          data-followers="<%=profile_user.followers.length%>"
          href="/users/follow/<%=profile_user.id%>"
          class="profile-btn toggle-follow-button"
          ><%if(profile_user.followers.includes(locals.user.id)){%>unfollow<%}else{%>follow<%}%></a
        >
        <%}%>
      </div>
      <div class="profile-stats">
        <p class="stat-posts">
          <span class="profile-stats-unit posts-unit"><%=posts.length%></span>
          post
        </p>
        <p class="stat-followers">
          <span class="profile-stats-unit followers-unit"
            ><%=profile_user.followers.length%></span
          >
          followers
        </p>
        <p class="stat-following">
          <span class="profile-stats-unit following-unit"
            ><%=profile_user.following.length%></span
          >
          following
        </p>
      </div>
      <div class="profile-about">
        <div class="profile-name"><%=profile_user.name%></div>
        <div class="profile-bio"><%=profile_user.bio%></div>
      </div>
    </div>
  </div>
  <div class="profile-categories">
    <div class="profile-category">
      <div class="profile-category-icon">
        <svg>
          <use xlink:href="/image/sprite.svg#icon-menu"></use>
        </svg>
      </div>
      <div class="profile-category-name">posts</div>
    </div>
  </div>
  <div class="profile-images">
    <%for (post of posts){%>
    <a class="profile-image-block" href="/posts/view/<%=post.id%>">
      <figure class="preview">
        <img class="preview-image" src="<%=post.image%>" />
        <div class="preview-overlay">
          <div class="preview-overlay-content">
            <div class="preview-overlay-item">
              <svg class="preview-overlay-icon">
                <use xlink:href="/image/sprite.svg#icon-heart1"></use>
              </svg>
              <span class="preview-overlay-unit preview-overlay-likes"
                ><%=post.likes.length%></span
              >
            </div>
            <div class="preview-overlay-item">
              <svg class="preview-overlay-icon">
                <use xlink:href="/image/sprite.svg#icon-bubbles"></use>
              </svg>
              <span class="preview-overlay-unit preview-overlay-comments"
                ><%=post.comments.length%></span
              >
            </div>
          </div>
        </div>
      </figure>
    </a>

    <%}%>
  </div>
</section>
