<link rel="stylesheet" href="/css/user-profile.css" />
<div class="post-popup hide">
  <div class="post-popup-overlay hide"></div>
  <div class="post-popup-dialog hide">
    <a href="profile"
      ><svg class="post-popup-delete">
        <use xlink:href="/image/sprite.svg#icon-circle-with-cross"></use>
      </svg>
    </a>
    <img src="/image/preview-1.png" alt="" class="post-popup-image" />
    <div class="popup-header">
      <a href="#"
        ><img class="popup-header-image" src="/image/default-user.jpg"
      /></a>
      <a class="popup-header-name" href="#"><b>hanna.khandwal</b></a>
      <div class="popup-header-more">
        <svg class="popup-header-more-icon">
          <use xlink:href="/image/sprite.svg#icon-dots-three-horizontal"></use>
        </svg>
      </div>
    </div>
    <div class="popup-content">
      <div class="popup-comments">
        <div class="popup-comment">
          <a href="#">
            <img class="popup-comment-user" src="/image/profile-pic.jpg" />
          </a>

          <p class="popup-comment-body">
            <span class="popup-comment-username">hanna.khandwal</span>
            <span class="popup-comment-content"
              >its so much fun we will never forget🤩🤩</span
            >
          </p>
          <a class="popup-comment-like" href="#">
            <svg>
              <use xlink:href="/image/sprite.svg#icon-heart-outlined"></use>
            </svg>
          </a>
          <a class="popup-comment-delete" href="#">
            <svg>
              <use xlink:href="/image/sprite.svg#icon-circle-with-cross"></use>
            </svg>
          </a>
        </div>
        <div class="popup-comment">
          <a href="#">
            <img class="popup-comment-user" src="/image/profile-pic.jpg" />
          </a>

          <p class="popup-comment-body">
            <span class="popup-comment-username">hanna.khandwal</span>
            <span class="popup-comment-content"
              >its so much fun we will never forget🤩🤩</span
            >
          </p>
          <a class="popup-comment-like" href="#">
            <svg>
              <use xlink:href="/image/sprite.svg#icon-heart-outlined"></use>
            </svg>
          </a>
          <a class="popup-comment-delete" href="#">
            <svg>
              <use xlink:href="/image/sprite.svg#icon-circle-with-cross"></use>
            </svg>
          </a>
        </div>
        <div class="popup-comment">
          <a href="#">
            <img class="popup-comment-user" src="/image/profile-pic.jpg" />
          </a>

          <p class="popup-comment-body">
            <span class="popup-comment-username">hanna.khandwal</span>
            <span class="popup-comment-content"
              >its so much fun we will never forget🤩🤩</span
            >
          </p>
          <a class="popup-comment-like" href="#">
            <svg>
              <use xlink:href="/image/sprite.svg#icon-heart-outlined"></use>
            </svg>
          </a>
          <a class="popup-comment-delete" href="#">
            <svg>
              <use xlink:href="/image/sprite.svg#icon-circle-with-cross"></use>
            </svg>
          </a>
        </div>
        <div class="popup-comment">
          <a href="#">
            <img class="popup-comment-user" src="/image/profile-pic.jpg" />
          </a>

          <p class="popup-comment-body">
            <span class="popup-comment-username">hanna.khandwal</span>
            <span class="popup-comment-content"
              >its so much fun we will never forget🤩🤩</span
            >
          </p>
          <a class="popup-comment-like" href="#">
            <svg>
              <use xlink:href="/image/sprite.svg#icon-heart-outlined"></use>
            </svg>
          </a>
          <a class="popup-comment-delete" href="#">
            <svg>
              <use xlink:href="/image/sprite.svg#icon-circle-with-cross"></use>
            </svg>
          </a>
        </div>
        <!-- <div class="popup-comment">
              <a href="#">
                <img class="popup-comment-user" src="image/profile-pic.jpg" />
              </a>

              <p class="popup-comment-body">
                <span class="popup-comment-username">hanna.khandwal</span>
                <span class="popup-comment-content"
                  >its so much fun we will never forget🤩🤩</span
                >
              </p>
              <a class="popup-comment-like" href="#">
                <svg>
                  <use xlink:href="image/sprite.svg#icon-heart-outlined"></use>
                </svg>
              </a>
              <a class="popup-comment-delete" href="#">
                <svg>
                  <use
                    xlink:href="image/sprite.svg#icon-circle-with-cross"
                  ></use>
                </svg>
              </a>
            </div>
            
           
            -->
      </div>
      <div class="popup-stats">
        <div class="popup-stats-icons">
          <a href="#" class="popup-stats-icon">
            <svg class="">
              <use xlink:href="/image/sprite.svg#icon-heart-outlined"></use>
            </svg>
          </a>
          <a href="#" class="popup-stats-icon">
            <svg class="">
              <use xlink:href="/image/sprite.svg#icon-bubble2"></use>
            </svg>
          </a>
          <a href="#" class="popup-stats-icon">
            <svg class="">
              <use xlink:href="/image/sprite.svg#icon-direction"></use>
            </svg>
          </a>
        </div>
        <p class="popup-stats-count">
          <span class="popup-stats-unit">14</span> likes
        </p>
      </div>
      <form class="popup-comments-form" action="#">
        <input type="text" name="comment" placeholder="Add comments . . ." />
        <button type="submit">Post</button>
      </form>
    </div>
  </div>
</div>
<section class="profile-container">
  <div class="profile-header">
    <img src="<%=profile_user.avatar%>" alt="" class="profile-header-img" />
    <div class="profile-header-info">
      <div class="profile-buttons">
        <div class="profile-username"><%=profile_user.username%></div>
        <%if(locals.user.id==profile_user.id){%>
        <a
          href="/users/update-settings/<%=profile_user.id%>"
          class="profile-btn"
          >update</a
        >
        <%}else{%>
        <a
          data-followers="<%=profile_user.followers.length%>"
          href="/users/follow/<%=profile_user.id%>"
          class="profile-btn toggle-follow-button"
          ><%if(profile_user.followers.includes(locals.user.id)){%>unfollow<%}else{%>follow<%}%></a
        >
        <%}%>
      </div>
      <div class="profile-stats">
        <p class="stat-posts">
          <span class="profile-stats-unit posts-unit"><%=posts.length%></span>
          post
        </p>
        <p class="stat-followers">
          <span class="profile-stats-unit followers-unit"
            ><%=profile_user.followers.length%></span
          >
          followers
        </p>
        <p class="stat-following">
          <span class="profile-stats-unit following-unit"
            ><%=profile_user.following.length%></span
          >
          following
        </p>
      </div>
      <div class="profile-about">
        <div class="profile-name"><%=profile_user.name%></div>
        <div class="profile-bio"><%=profile_user.bio%></div>
      </div>
    </div>
  </div>
  <div class="profile-categories">
    <div class="profile-category">
      <div class="profile-category-icon">
        <svg>
          <use xlink:href="/image/sprite.svg#icon-menu"></use>
        </svg>
      </div>
      <div class="profile-category-name">posts</div>
    </div>
  </div>
  <div class="profile-images">
    <%for (post of posts){%>
    <figure class="preview">
      <img class="preview-image" src="<%=post.image%>" />
      <div class="preview-overlay">
        <div class="preview-overlay-content">
          <div class="preview-overlay-item">
            <svg class="preview-overlay-icon">
              <use xlink:href="/image/sprite.svg#icon-heart1"></use>
            </svg>
            <span class="preview-overlay-unit preview-overlay-likes">11</span>
          </div>
          <div class="preview-overlay-item">
            <svg class="preview-overlay-icon">
              <use xlink:href="/image/sprite.svg#icon-bubbles"></use>
            </svg>
            <span class="preview-overlay-unit preview-overlay-comments">5</span>
          </div>
        </div>
      </div>
    </figure>
    <%}%>
    <!-- <figure class="preview">
      <img class="preview-image" src="/image/preview-2.jpg" />
      <div class="preview-overlay">
        <div class="preview-overlay-content">
          <div class="preview-overlay-item">
            <svg class="preview-overlay-icon">
              <use xlink:href="/image/sprite.svg#icon-heart1"></use>
            </svg>
            <span class="preview-overlay-unit preview-overlay-likes">11</span>
          </div>
          <div class="preview-overlay-item">
            <svg class="preview-overlay-icon">
              <use xlink:href="/image/sprite.svg#icon-bubbles"></use>
            </svg>
            <span class="preview-overlay-unit preview-overlay-comments">5</span>
          </div>
        </div>
      </div>
    </figure>

    <figure class="preview">
      <img class="preview-image" src="/image/preview-3.jpg" />
      <div class="preview-overlay">
        <div class="preview-overlay-content">
          <div class="preview-overlay-item">
            <svg class="preview-overlay-icon">
              <use xlink:href="/image/sprite.svg#icon-heart1"></use>
            </svg>
            <span class="preview-overlay-unit preview-overlay-likes">11</span>
          </div>
          <div class="preview-overlay-item">
            <svg class="preview-overlay-icon">
              <use xlink:href="/image/sprite.svg#icon-bubbles"></use>
            </svg>
            <span class="preview-overlay-unit preview-overlay-comments">5</span>
          </div>
        </div>
      </div>
    </figure>
    <figure class="preview">
      <img class="preview-image" src="/image/preview-4.jpg" />
      <div class="preview-overlay">
        <div class="preview-overlay-content">
          <div class="preview-overlay-item">
            <svg class="preview-overlay-icon">
              <use xlink:href="/image/sprite.svg#icon-heart1"></use>
            </svg>
            <span class="preview-overlay-unit preview-overlay-likes">11</span>
          </div>
          <div class="preview-overlay-item">
            <svg class="preview-overlay-icon">
              <use xlink:href="/image/sprite.svg#icon-bubbles"></use>
            </svg>
            <span class="preview-overlay-unit preview-overlay-comments">5</span>
          </div>
        </div>
      </div>
    </figure> -->
  </div>
</section>
<script src="/js/user-profile.js"></script>
